@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --animate-scroll: scroll 20s linear infinite;
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-50% - 1rem));
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}
